.container {
    display: grid;
    width: 500px;
    height: 500px;
    border: 1px solid blue;
    /*grid-template-columns: repeat(3, 100px);*/
    /*grid-template-rows: repeat(3, 100px);*/
    /*grid-template-columns: repeat(auto-fill, 100px);*/
    /*grid-template-rows: repeat(auto-fill, 100px);*/
    /*grid-template-columns: repeat(4, 1fr); !* 共4列, 每列宽度平均占容器宽度的一份(1/4) *!*/
    /*grid-template-rows: repeat(4, 1fr); !*  共4行,每行占容器高度的1份(1/4)  *!*/
    grid-template-columns: repeat(4, 50px);
    grid-template-rows: repeat(4, 50px);
    grid-auto-flow: column;
    /*grid-template-columns: 150px auto 150px;*/
    row-gap: 10px;
    column-gap: 20px;
    gap: 20px 30px;
    /*justify-items: center;*/ /* 容器内所有元素的水平对齐方式*/
    /*align-items: center;*/ /* 容器内所有元素的垂直对齐方式*/
    place-items: center center; /* justify-items 与align-items 的复合写法*/
    justify-content: center; /* 容器整体内容的水平对齐方式*/
    align-content: center; /*容器整体内容的垂直对齐方式*/
    place-content: center; /* justify-content 与 align-content 的复合写法*/
}

.container > .item {
    border: 1px solid red;
}
